<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://sidprocessorder.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/f7db7a6b-9131-4110-a982-a19c6f56ee7e/resourceGroups/bttest/providers/Microsoft.Web/sites/SidProcessOrder</ResourceId>
    <UserName>$SidProcessOrder</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://sidprocessorder.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>